* {
    margin: 0px;
    padding: 0px;
}



.fundo {
    background-image: linear-gradient(45deg, rgb(27, 89, 88), rgb(20, 201, 204));
    height: 100vh;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: navy;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
   

}

.botao {
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 3px;
    width: 50px;
    min-height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.botao:hover{

background-color: black;
}

#resultado {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

